coldemailer-Qa4IJegJstSc46qS.json
{"createdAt":"2025-08-13T20:16:49.699Z","updatedAt":"2025-08-25T17:42:05.000Z","id":"Qa4IJegJstSc46qS","name":"Coldemailer","active":true,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc","mode":"list","cachedResultName":"Leadlist2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1895729392,"mode":"list","cachedResultName":"result_53__results","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc/edit#gid=1895729392"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-944,-80],"id":"4b0391c6-a71b-44ad-9ad7-f09003130346","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"1qwAvvhFKd0Ufzgy","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get all input items\nconst items = $input.all();\n\n// Slice the first 50\nreturn items.slice(0, 48);\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-944,144],"id":"54d9acca-b2c2-4905-a2d4-1ad8ea1007ea","name":"Code15"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.group }}","rightValue":1,"operator":{"type":"number","operation":"equals"},"id":"77f7e2da-8d94-4b79-925b-d1f2827d778b"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"70521925-4bab-4cef-b882-581009837ff0","leftValue":"={{ $json.group }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"08d4beef-82fc-4ad0-9257-24f2cc9b6cca","leftValue":"={{ $json.group }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"241f8451-36ad-444e-ae92-2e2d70450a84","leftValue":"={{ $json.group }}","rightValue":4,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-528,48],"id":"d6f38291-4258-4167-b6cd-dd46bdbddaac","name":"Switch3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4c97c4b3-d5fe-4802-94be-0fc290890e92","leftValue":"={{ $json.Sent2 }}","rightValue":"Sent","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-720,-80],"id":"1a3dafd9-4780-4571-a682-8e037831ea29","name":"Filter1"},{"parameters":{"jsCode":"const items = $input.all().slice(0, 48); // Take only 48 items\nconst groupSize =12;\n\nitems.forEach((item, index) => {\n  const groupId = Math.floor(index / groupSize) + 1; // 1..4\n  item.json.group = groupId;\n});\n\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,144],"id":"865166d6-48b5-43e3-9e61-bd1e1a322213","name":"Code20"},{"parameters":{"workflowId":{"__rl":true,"value":"Ow1CoTic8bb9KfS9","mode":"list","cachedResultName":"send poojan@protozenai.com"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-160,-144],"id":"873b6de8-92f6-4e99-a23d-cbc13e336d37","name":"Execute Workflow"},{"parameters":{"workflowId":{"__rl":true,"value":"Cn09ftUO0piWWYdU","mode":"list","cachedResultName":"Send samantha@protozenai.com"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-160,32],"id":"bda44171-7450-4751-b7d0-9558bfbc3da9","name":"Execute Workflow1"},{"parameters":{"workflowId":{"__rl":true,"value":"ycemJh6sNrrle1x4","mode":"list","cachedResultName":"Send john@protozenai.com"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-160,208],"id":"9bb74a9d-54c0-433d-8242-1493b305bcbc","name":"Execute Workflow2"},{"parameters":{"workflowId":{"__rl":true,"value":"sLYpuEgOTwXgZ2MA","mode":"list","cachedResultName":"Send emma@protozenai.com"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"mode":"each","options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-160,384],"id":"dfd04a03-83ac-482b-a47d-c11d7c21e507","name":"Execute Workflow3"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":90}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1152,48],"id":"a9a5e429-c713-4716-88fc-e2a5e42443fd","name":"Schedule Trigger"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,-144],"id":"b02d8c48-10f2-443d-965f-0b3f29b37c4f","name":"Wait","webhookId":"19776dd2-5413-407f-a21f-7e10253de797"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,32],"id":"f3c01ec0-4ec9-42ab-a6b0-d8973d81f580","name":"Wait1","webhookId":"8e84f940-b089-4d44-ae7f-e11a1434bf1e"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,208],"id":"308d7b2f-6a89-4a8d-9621-c9a6dcbf82f4","name":"Wait2","webhookId":"8e84f940-b089-4d44-ae7f-e11a1434bf1e"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,384],"id":"f591c803-0296-4996-8087-8a40d059ceb2","name":"Wait3","webhookId":"8e84f940-b089-4d44-ae7f-e11a1434bf1e"}],"connections":{"Get row(s) in sheet3":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"Code15":{"main":[[{"node":"Code20","type":"main","index":0}]]},"Switch3":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"Execute Workflow1","type":"main","index":0}],[{"node":"Execute Workflow2","type":"main","index":0}],[{"node":"Execute Workflow3","type":"main","index":0}]]},"Filter1":{"main":[[{"node":"Code15","type":"main","index":0}]]},"Code20":{"main":[[{"node":"Switch3","type":"main","index":0}]]},"Execute Workflow3":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Execute Workflow1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Execute Workflow2":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait":{"main":[[]]},"Wait1":{"main":[[]]},"Wait2":{"main":[[]]},"Wait3":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"4a2b5f97-dcd3-4376-a464-1a0f6ff2f4d9","triggerCount":1,"tags":[]}