linkedin-automation-3oEdpp5O6ppi0vMH.json
{"createdAt":"2025-08-13T20:28:26.543Z","updatedAt":"2025-08-23T16:24:41.000Z","id":"3oEdpp5O6ppi0vMH","name":"Linkedin AUTOMATION","active":true,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"Create a highly viral, Twitter-thread-style LinkedIn post of exactly 1300 characters  in twitter post style long on Highly viral recent topics or any of these.\nMarketing, Psychology, AI, Sales, Professional Skills, or Career Growth.\nFORMAT (deliver in one complete post, not in parts):\nHOOK (1–2 lines):\nStart with a bold, scroll-stopping line. Use curiosity gaps, unexpected insights, emotional triggers, or thought-provoking claims.\nBODY (7 short, punchy lines, Twitter-thread-style):\nUse powerful psychology-backed content strategies such as:\nCuriosity, FOMO, Authority bias, Social proof, Framing effect, “Us vs Them” for inspiration, not division\nProvide clever insights, examples, or frameworks people can apply. Make people think, learn, or reconsider what they thought they knew. Be bold, insightful, and empowering—not manipulative.\nCALL TO ACTION (must include this block exactly):\nDrop a 🔥 if you agree  \nI’m building a hideout for elite performers at the intersection of AI, psychology, and marketing and sales.  \nGates are open.  \nContent’s dropping soon, so make sure you’re in before it hits.  \n👉 https://www.linkedin.com/newsletters/thrusthq-7316437798717161472/ 👈\nEND with viral, relevant hashtags based on the content.\n\nTONE & STYLE:\nBold. Insightful. Empowering.\nUse short, impactful sentences.\nEvoke curiosity, admiration, ambition, or urgency.\nWrite like you’re revealing powerful tactics or overlooked truths that help professionals level up.\nUse 🔥 emojis, 🤯 moments, and 👀 curiosity drivers to stand out in the feed.\n\nIMPORTANT: Return the entire LinkedIn post as a single, complete output. Do not divide into sections or parts not should i have points..","options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[80,64],"id":"1e6e1a5c-aa64-4683-b3f3-8e707b2f3db8","name":"AI Agent"},{"parameters":{"method":"POST","url":"https://api.a4f.co/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ddc-a4f-ccd5dbb166d5414db86b8722547a6591"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"provider-3/gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"The images have to be consistent, not looking ai generated, hyper realistic, not too much ai inputs, highquality You are a visual concept designer specialized in creating AI-generated imagery for high-impact LinkedIn content. Your task is to deeply understand the essence, emotion, and theme of a given post, and craft a detailed, imaginative image prompt.\\n\\nEnsure that the image:\\n- Is visually stunning, aesthetically balanced, and emotionally resonant\\n- Uses purple as a dominant or accent color to enhance professionalism and creativity\\n- Follows principles of visual harmony, clean proportions, and symmetry\\n- Avoids clutter and excessive text — rely on infographics, symbolism, or creative minimalism\\n- Should feel professional, modern, and attention-grabbing on a LinkedIn feed\\n- Must not directly reuse the post’s text, but reflect its idea, emotion, or purpose\\n\\nThink like an art director designing a hook-worthy thumbnail or visual story for a business audience. Directly give prompt no extra writing and explaination and BS\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.cleanedText }}\"\n    }\n  ],\n  \"temperature\": 0.7,\n  \"max_tokens\": 500,\n  \"stream\": false\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,64],"id":"15edcaaf-202c-4289-bc57-c2dc4cd11e5d","name":"HTTP Request2"},{"parameters":{"jsCode":"const rawText = $input.first().json.choices[0].message.content || '';\n\n// Remove *, \\n, \", and clean extra spaces\nconst cleaned = rawText\n  .replace(/\\*/g, '')       // Remove all asterisks\n  .replace(/\\n/g, ' ')      // Replace newlines with space\n  .replace(/\"/g, '')        // Remove all double quotes\n  .replace(/\\s+/g, ' ');    // Clean up extra spaces\n\n\nreturn [\n  {\n    json: {\n      cleanedText: cleaned.trim()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[896,64],"id":"5107af4a-418f-4048-af93-25071721f019","name":"Code","alwaysOutputData":false},{"parameters":{"jsCode":"const rawText = items[0].json.output || '';\n\n// Remove *, \\n, \", and clean extra spaces\nconst cleaned = rawText\n  .replace(/\\*/g, '')       // Remove all asterisks\n  // .replace(/\\n/g, ' ')      // Replace newlines with space\n  .replace(/\"/g, '')        // Remove all double quotes\n  // .replace(/\\//g, '')        // \n  // .replace(/\\s+/g, ' ');    // Clean up extra spaces\n\nreturn [\n  {\n    json: {\n      cleanedText: cleaned.trim()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,64],"id":"e84b1bf3-6fda-4f4e-bae6-1290661f4882","name":"Code2","alwaysOutputData":false},{"parameters":{"method":"POST","url":"https://api.a4f.co/v1/images/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ddc-a4f-ccd5dbb166d5414db86b8722547a6591"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"provider-3/dall-e-3\",\n  \"prompt\": \"{{ $json.cleanedText }}\",\n  \"n\": 1,\n  \"size\": \"1024x1024\",\n  \"response_format\": \"b64_json\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,368],"id":"88b25dc6-ebdb-49e7-ba3f-fad2c07af6e3","name":"HTTP Request5"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[944,352],"id":"0a00b8c2-51ea-4fd3-8dff-49ddc36ad811","name":"Merge"},{"parameters":{"assignments":{"assignments":[{"id":"cdb08387-1706-4072-bd4b-7fdd5b333e2b","name":"post","value":"={{ $json.cleanedText }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[656,272],"id":"9e1f3971-55b9-436d-9fc6-013789c8b961","name":"Edit Fields1"},{"parameters":{"operation":"toBinary","sourceProperty":"data[0].b64_json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[576,512],"id":"1cc3663e-38ee-4d6c-af53-06fc8c4148c8","name":"Convert to File"},{"parameters":{"content":"poojand007 old --- ddc-a4f-ae7163ee6b3a45de9a343bb0a3fb2ff7\n\n\npoojanpandy4 new --- ddc-a4f-ccd5dbb166d5414db86b8722547a6591\n\n"},"type":"n8n-nodes-base.stickyNote","position":[1088,32],"typeVersion":1,"id":"a34442e7-c4af-4ac9-be7d-0807bc522f95","name":"Sticky Note1"},{"parameters":{"jsCode":"const rawText =  $input.first().json.cleanedText || '';\n\n// Remove *, \\n, \", and clean extra spaces\nconst cleaned = rawText\n  .replace(/\\*/g, '')       // Remove all asterisks\n  .replace(/\\n/g, ' ')      // Replace newlines with space\n  .replace(/\"/g, '')        // Remove all double quotes\n  .replace(/\\//g, '')        // \n  // .replace(/\\s+/g, ' ');    // Clean up extra spaces\n\nreturn [\n  {\n    json: {\n      cleanedText: cleaned.trim()\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[560,64],"id":"67cea473-acfc-42a2-9bf2-c726fc8a402e","name":"Code3","alwaysOutputData":false},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[48,288],"id":"f9094cba-60f2-4090-a159-b43c97ba45b2","name":"Google Gemini ","credentials":{"googlePalmApi":{"id":"elDw3vUBcK97sl4S","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-144,176],"id":"4e4ebb32-becd-4ba9-bb18-0eec0cf61fd9","name":"Schedule Trigger1"},{"parameters":{"person":"LjTyXONt_u","text":"={{ $json.post }}","shareMediaCategory":"IMAGE","additionalFields":{}},"type":"n8n-nodes-base.linkedIn","typeVersion":1,"position":[1280,256],"id":"e6a073dc-bc61-4708-b7c9-5c605d511b0a","name":"Create a post","credentials":{"linkedInOAuth2Api":{"id":"EwfulPTJZ37Be53O","name":"LinkedIn account"}}},{"parameters":{"method":"POST","url":"https://api.a4f.co/v1/images/generations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer ddc-a4f-ccd5dbb166d5414db86b8722547a6591"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"provider-4/imagen-4\",\n  \"prompt\": \"{{ $json.cleanedText }}\",\n  \"n\": 1,\n  \"size\": \"1024x1024\",\n  \"response_format\": \"b64_json\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,704],"id":"4dc615ac-1ce1-4be1-b6ac-5082b4507ccd","name":"HTTP Request7"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-128,-112],"id":"658290e0-cbd6-46ec-b905-34c69eb66cda","name":"When clicking ‘Execute workflow’"}],"connections":{"AI Agent":{"main":[[{"node":"Code2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"HTTP Request5","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Edit Fields1","type":"main","index":0},{"node":"Code3","type":"main","index":0}]]},"HTTP Request5":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Create a post","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Code3":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"Google Gemini ":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Schedule Trigger1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"368c30a9-9749-4207-8f91-3496a0da9fa8","triggerCount":1,"tags":[]}