my-workflow-3-MMlPhzX0ugLEubKq.json
{"createdAt":"2025-08-17T15:40:13.312Z","updatedAt":"2025-08-17T15:40:13.312Z","id":"MMlPhzX0ugLEubKq","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://Hindu-Panchang.proxy-production.allthingsdev.co/panchang","sendQuery":true,"queryParameters":{"parameters":[{"name":"date","value":"={{ $json.date }}-{{ $json.month }}-{{ $json.year }}"},{"name":"lat","value":"22.3000"},{"name":"lng","value":"73.2065"},{"name":"alt","value":"0.494"},{"name":"tz","value":"Asia/Kolkata"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"x-apihub-key","value":"n2yQ8EezkIqczWrzXY04qj1rz8gjrVXAVMUlGnGaEEtAq7ElZ2"},{"name":"x-apihub-host","value":"Hindu-Panchang.allthingsdev.co"},{"name":"x-apihub-endpoint","value":"a925b172-7b98-4142-9348-c1524fe9abd4"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,624],"id":"521e9a64-f632-4dbd-970f-fc58354b2c99","name":"HTTP Request"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1456,656],"id":"83ad88e1-5a94-4541-81eb-ac1e7082c2c9","name":"When clicking ‘Execute workflow’"},{"parameters":{"jsCode":"// Convert current UTC time to IST (+5:30)\nconst now = new Date();\n\n// Get IST offset in milliseconds (5.5 hours = 19800 seconds = 19800000 ms)\nconst istOffset = 5.5 * 60 * 60 * 1000;\n\n// Create new Date adjusted to IST\nconst istTime = new Date(now.getTime() + istOffset);\n\nreturn [\n  {\n    json: {\n      year: istTime.getFullYear(),\n      month: istTime.getMonth() + 1, // Month is 0-based\n      date: istTime.getDate(),\n      hours: istTime.getHours(),\n      minutes: istTime.getMinutes(),\n      seconds: istTime.getSeconds(),\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1248,464],"id":"fc2fa379-e55a-403c-b361-20e5a5b87627","name":"convert time to india"},{"parameters":{"jsCode":"const formatted = {};\n\nfor (const item of items) {\n  const name = item.json.name;\n  const start = new Date(item.json.starts_at);\n  const end = new Date(item.json.ends_at);\n\n  // Format time to hh:mm AM/PM\n  const formatTime = (date) => {\n    let hrs = date.getHours();\n    const mins = date.getMinutes().toString().padStart(2, '0');\n    const ampm = hrs >= 12 ? 'PM' : 'AM';\n    hrs = hrs % 12 || 12;\n    return `${hrs}:${mins} ${ampm}`;\n  };\n\n  if (!formatted[name]) {\n    formatted[name] = [];\n  }\n\n  formatted[name].push(`${formatTime(start)} - ${formatTime(end)}`);\n}\n\n// Now build separate entries\nconst output = [];\n\nfor (const [name, slots] of Object.entries(formatted)) {\n  slots.forEach((slot, index) => {\n    output.push({\n      json: {\n        slot: `${name} ${index + 1}`,\n        time: slot\n      }\n    });\n  });\n}\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,624],"id":"c89f3c43-29c7-436c-8d2b-40490a53156c","name":"Code1"},{"parameters":{"method":"POST","url":"https://json.freeastrologyapi.com/choghadiya-timings","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"ilIVkQl9rE2GS474OZieZ1O0mH5qfkDP8vFnwqKN"}]},"sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"year\": 2025,\n  \"month\": 8,\n  \"date\": 6,\n  \"hours\": 19,\n  \"minutes\": 5,\n  \"seconds\": 0,\n  \"latitude\": 17.38333,\n  \"longitude\": 78.4666,\n  \"timezone\": 5.5,\n  \"config\": {\n    \"observation_point\": \"topocentric\",\n    \"ayanamsha\": \"lahiri\"\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-976,464],"id":"9b82b45a-3771-45ae-b569-8a76319d56b2","name":"get all data"},{"parameters":{"jsCode":"const raw = items[0].json.output;\nconst parsed = JSON.parse(raw);\n\nconst desired = Object.values(parsed).filter(entry => \n  [\"Amrit\", \"Shubh\", \"Labh\"].includes(entry.name)\n);\n\nreturn desired.map(d => ({\n  json: d\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,464],"id":"d2cb0314-eda1-4663-bf00-7ff8527e005e","name":"filter labh shubh amrit"},{"parameters":{"content":"https://www.npmjs.com/package/n8n-nodes-canva#-pastas\n\nhttps://chatgpt.com/c/68930cf2-926c-8329-a848-b99229f86b65\n\nhttps://www.canva.com/design/DAGvTzYypu8/8bZHwh8JvNGRqOM08vGeYw/edit?ui=e30\n\nhttps://www.canva.dev/docs/connect/creating-integrations/\n\n\nhttps://www.allthingsdev.co/apimarketplace/endpoints/hindu-panchang/66b37cb3b7b7ad054eb3c542\n\nhttps://freeastrologyapi.com/api-reference/choghadiya-timings","height":272,"width":736},"type":"n8n-nodes-base.stickyNote","position":[-960,96],"typeVersion":1,"id":"a22cbced-710e-46a0-a434-6c435cdfa257","name":"Sticky Note"},{"parameters":{"promptType":"define","text":"=આજનું પંચાંગ: {{ $json.date }}/{{ $json.month }}/{{ $json.year }}\n\nનક્ષત્ર: {{ $json.nakshatra['Pūrvābhādrā'].end.time }} sudhi  {{ $json.nakshatra['Pūrvābhādrā'] }} pachhi {{ $json.nakshatra['Uttarābhādrā'] }}\n\nયોગ: {{ $json.yoga['Sukarmā'].end.time }} sudhi {{ $json.yoga['Sukarmā'] }} pachhi {{ $json.yoga['Dhṛti'] }}\n\nકરણ:{{ $json.karana['Viṣṭi'].end.time }} sudhi {{ $json.karana['Viṣṭi'] }} pachhi {{ $json.karana.Bava }}\n\nરાશિ:  {{ $json.lunarRaasi }} - {{ $json.lunarRaasi.Kumbham }}\n\n*સૂર્યોદય અને સૂર્યાસ્ત:*\n\nસૂર્યોદય: સવારે {{ $json.sunrise.time }}\n \nસૂર્યાસ્ત: સાંજે  {{ $json.sunset.time }}\n\nશુભ અને અશુભ સમય:\n\nરાહુ કાળ: બપોરે {{ $json.rahuKal.start.time }} thi {{ $json.rahuKal.end.time }} (આ સમયગાળામાં કોઈ પણ શુભ કાર્ય કરવું નહીં).\n\nઅભિજીત મુહૂર્ત: {{ $json.abhijit.start.time }} thi {{ $json.abhijit.end.time }} (આ સમય શુભ ગણાય છે).","options":{"systemMessage":"=You are a vedic astrologer and have to create a short post based on the data you are given.\nonly output in gujarati and dont fuck up.\nDont write any other words than the output itself.\nConvert all the data into proper gujarati readable format remove dates if excess and look like clutter"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-864,976],"id":"feae1105-6043-4b47-96e1-456223613117","name":"AI Agent"},{"parameters":{"mode":"combine","combineBy":"combineByPosition","numberInputs":3,"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-1216,928],"id":"b15dad31-8186-4b95-a9f0-4596565621c7","name":"Merge"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-848,1120],"id":"436625a3-3761-4051-95dc-1f659db5754e","name":"Google Gemini Chat Model"}],"connections":{"HTTP Request":{"main":[[{"node":"Merge","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"convert time to india","type":"main","index":0}]]},"convert time to india":{"main":[[{"node":"get all data","type":"main","index":0},{"node":"HTTP Request","type":"main","index":0},{"node":"Merge","type":"main","index":2}]]},"Code1":{"main":[[{"node":"Merge","type":"main","index":1}]]},"get all data":{"main":[[{"node":"filter labh shubh amrit","type":"main","index":0}]]},"filter labh shubh amrit":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"50f450dc-5df2-4c36-a73b-5e25018f86ac","triggerCount":0,"tags":[]}