send-samantha@protozenai.com-Cn09ftUO0piWWYdU.json
{"createdAt":"2025-08-13T20:20:40.695Z","updatedAt":"2025-08-25T17:22:21.000Z","id":"Cn09ftUO0piWWYdU","name":"Send samantha@protozenai.com","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const templates = [\n  \n  {\n    subject: \"78% of executives burn out and quit. You're burning. 🔥\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nHarvard Business Review: 78% of executives experience severe burnout, leading to poor decisions and business failure.<br><br>\nYou work 90-hour weeks managing calendars, emails, and admin tasks that a $15/hour assistant should handle.<br><br>\nWhile you drown in busy work, strategic competitors make the big moves that kill your market position.<br><br>\nBurned-out executives make desperate decisions. Desperate decisions kill businesses.<br><br>\nStop burning out. Start thinking strategically: https://calendly.com/protozenai/20min-meet<br><br>\nSamantha Moore<br>ProtozenAI`\n  },\n  {\n    subject: \"Email addiction killed 52% of failed executives 📧\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nMcKinsey study: 52% of failed executives cite email overwhelm as primary factor in strategic blindness.<br><br>\nYou spend 4 hours daily in your inbox while your business bleeds market share.<br><br>\nEvery minute on email administration is a minute not spent on survival strategy.<br><br>\nYour competitors hired AI assistants to handle email. They think strategy while you manage inbox chaos.<br><br>\nStop managing emails. Start managing your future: https://calendly.com/protozenai/20min-meet<br><br>\nSamantha Moore<br>ProtozenAI`\n  },\n  {\n    subject: \"Administrative work destroyed 67% of business leaders 📋\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nStanford Research: 67% of business leaders who fail spend majority of time on administrative tasks.<br><br>\nYou're paid $500/hour for strategic thinking but waste 6 hours daily on $25/hour admin work.<br><br>\n$2,850 daily opportunity cost. $712,500 annually in misallocated executive brain power.<br><br>\nWhile you schedule meetings, competitors plan your destruction.<br><br>\nDelegate or die: https://calendly.com/protozenai/20min-meet<br><br>\nSamantha Moore<br>ProtozenAI`\n  },\n  {\n    subject: \"Your $140K assistant will betray you. AI won't. 🔪\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nBureau of Labor Statistics: 43% of executive assistants quit within 18 months, often joining competitors.<br><br>\nThey take your contacts, your systems, your secrets to the enemy who pays 20% more.<br><br>\nReplacing them costs $89,000 in recruitment, training, and lost productivity.<br><br>\nMeanwhile, they're helping your competitor destroy everything you built.<br><br>\nTrust AI. Never betray. Never quit. Never steal: https://calendly.com/protozenai/20min-meet<br><br>\nSamantha Moore<br>ProtozenAI`\n  }\n];\nconst items = $input.all();\nreturn items.map(item => {\n  const randomIndex = Math.floor(Math.random() * templates.length);\n  return {\n    json: {\n      ...item.json,\n      valid_email_only: item.json.valid_email_only,\n      email_subject: templates[randomIndex].subject,\n      email_body: templates[randomIndex].body,\n      template_number: randomIndex + 1\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,288],"id":"fae5e661-212d-4d96-868b-1d4b88d253c9","name":"Code17"},{"parameters":{"fromEmail":"samantha@thrusthq.site","toEmail":"={{ $json.email }}","subject":"={{ $json.email_subject }}","html":"={{ $json.email_body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[224,256],"id":"4149782a-5ee2-4497-a9e2-a5e942413348","name":"Send Samantha3","webhookId":"9e15c26a-bf64-4b51-9159-19361438f322","credentials":{"smtp":{"id":"puRGpjC9CfMTlLQf","name":"samantha@thrusthq.site"}}},{"parameters":{"content":"2","height":240,"width":928,"color":3},"type":"n8n-nodes-base.stickyNote","position":[-288,224],"typeVersion":1,"id":"12b7133d-e163-4857-9bb0-e66a14145dbc","name":"Sticky Note9"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-400,320],"id":"23796380-1d77-413f-b7f1-4a1ca5571c3f","name":"Loop Over Items10"},{"parameters":{"amount":13},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-160,336],"id":"5d8930a6-ea1a-4ccb-ae43-84410e64a8fa","name":"Wait10","webhookId":"30984a7b-9b9f-4c98-a65a-450cf5cb02a6"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-608,240],"id":"552e5554-1d30-4842-854b-2a8553f213dc","name":"When Executed by Another Workflow"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc","mode":"list","cachedResultName":"Leadlist2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1895729392,"mode":"list","cachedResultName":"result_53__results","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc/edit#gid=1895729392"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $json.email }}","Sent2":"Sent"},"matchingColumns":["email"],"schema":[{"id":"Sent2","displayName":"Sent2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"domain_name","displayName":"domain_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valid_email_only","displayName":"valid_email_only","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_type","displayName":"email_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"amf_status","displayName":"amf_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"profileUrl","displayName":"profileUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyId","displayName":"companyId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyUrl","displayName":"companyUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"regularCompanyUrl","displayName":"regularCompanyUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"titleDescription","displayName":"titleDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLocation","displayName":"companyLocation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"durationInRole","displayName":"durationInRole","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"durationInCompany","displayName":"durationInCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceCompanyName","displayName":"pastExperienceCompanyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceCompanyUrl","displayName":"pastExperienceCompanyUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceCompanyTitle","displayName":"pastExperienceCompanyTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceDate","displayName":"pastExperienceDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceDuration","displayName":"pastExperienceDuration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"connectionDegree","displayName":"connectionDegree","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"profileImageUrl","displayName":"profileImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sharedConnectionsCount","displayName":"sharedConnectionsCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"vmid","displayName":"vmid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedInProfileUrl","displayName":"linkedInProfileUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"isPremium","displayName":"isPremium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"isOpenLink","displayName":"isOpenLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"defaultProfileUrl","displayName":"defaultProfileUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[528,288],"id":"812481b8-95ad-4743-b29f-0811eb0276b8","name":"Update row in sheet15","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1qwAvvhFKd0Ufzgy","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d86db6d7-a22a-4f6d-a83a-a136c5910bdd","name":"=email","value":"={{ $json.envelope.to[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[384,176],"id":"98a6f07c-4d25-4dab-9490-32534b02568c","name":"Edit Fields"}],"connections":{"Code17":{"main":[[{"node":"Send Samantha3","type":"main","index":0}]]},"Send Samantha3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items10":{"main":[[],[{"node":"Wait10","type":"main","index":0}]]},"Wait10":{"main":[[{"node":"Code17","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Loop Over Items10","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Update row in sheet15","type":"main","index":0}]]},"Update row in sheet15":{"main":[[{"node":"Loop Over Items10","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e2a37f2a-c54f-4ae6-8aaa-179eb7fe2f9d","triggerCount":0,"tags":[]}