send-poojan@protozenai.com-Ow1CoTic8bb9KfS9.json
{"createdAt":"2025-08-13T20:17:19.286Z","updatedAt":"2025-08-25T17:22:14.000Z","id":"Ow1CoTic8bb9KfS9","name":"send poojan@protozenai.com","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-944,48],"id":"efcf37a9-c32a-40fc-8b73-5a91efe5ed46","name":"Loop Over Items"},{"parameters":{"jsCode":"const templates = [\n  {\n    subject: \"82% of businesses die from cash flow problems. You're next. ⚰️\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nBureau of Labor Statistics: 82% of small businesses fail due to cash flow problems.<br><br>\nEvery missed call is cash walking out the door. Every unqualified lead is time bleeding money you don't have.<br><br>\nYour current system fails 73% of incoming opportunities. That's $340,000+ annually in lost cash flow.<br><br>\nWhile you manually screen calls, profitable businesses use AI receptionists to capture every dollar.<br><br>\nStop hemorrhaging the cash that keeps you alive: https://calendly.com/protozenai/20min-meet<br><br>\nPoojan Pandya<br>ProtozenAI`\n  },\n  {\n    subject: \"Your competitors hired AI. You're about to lose everything. 💀\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nHarvard Business Review: Companies using AI for lead qualification see 67% faster revenue growth.<br><br>\nYour competitors already deployed AI receptionists. They're capturing YOUR prospects while you sleep.<br><br>\nMarket share shifts 15-30% annually to AI-powered competitors. Your slice shrinks every month you wait.<br><br>\n89% of businesses that don't adopt AI within 24 months become irrelevant or fail completely.<br><br>\nDon't become a statistic. Evolve or die: https://calendly.com/protozenai/20min-meet<br><br>\nPoojan Pandya<br>ProtozenAI`\n  },\n  {\n    subject: \"You're working 80 hours/week and still losing money 😰\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nThe brutal truth: 67% of business owners work 80+ hours weekly and still struggle financially.<br><br>\nYou answer every call personally, qualify every lead manually, handle every inquiry yourself.<br><br>\nResult? Burned out, overwhelmed, and watching opportunities slip through your exhausted fingers.<br><br>\nAI-powered businesses capture 340% more leads while their owners work 30 hours/week.<br><br>\nStop sacrificing your life for mediocre results: https://calendly.com/protozenai/20min-meet<br><br>\nPoojan Pandya<br>ProtozenAI`\n  },\n  {\n    subject: \"Your business will be dead in 18 months ⚡\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nMcKinsey research: 44% of businesses fail within 18 months of competitors adopting superior technology.<br><br>\nAI receptionists aren't coming - they're here. Processing 10x more leads. Converting 3x better. Operating 24/7.<br><br>\nEvery day you delay, you fall further behind. Every missed call proves you're already losing.<br><br>\nThe businesses that survive the next 18 months will be AI-powered. The rest will be memories.<br><br>\nChoose survival: https://calendly.com/protozenai/20min-meet<br><br>\nPoojan Pandya<br>ProtozenAI`\n  }\n];\nconst items = $input.all();\nreturn items.map(item => {\n  const randomIndex = Math.floor(Math.random() * templates.length);\n  return {\n    json: {\n      ...item.json,\n      valid_email_only: item.json.valid_email_only,\n      email_subject: templates[randomIndex].subject,\n      email_body: templates[randomIndex].body,\n      template_number: randomIndex + 1\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-496,0],"id":"3d92b93d-f0a6-438b-a008-292a2517bf88","name":"Code16"},{"parameters":{"fromEmail":"poojan@thrusthq.site","toEmail":"={{ $json.valid_email_only }}","subject":"={{ $json.email_subject }}","html":"={{ $json.email_body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-272,-16],"id":"aa10dc24-8e66-44bf-acad-1743f0c328e9","name":"Send Poojan3","webhookId":"9e15c26a-bf64-4b51-9159-19361438f322","retryOnFail":true,"maxTries":5,"waitBetweenTries":5000,"credentials":{"smtp":{"id":"saCr68ZpVsfzE7HC","name":"poojan@thrusthq.site"}}},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1184,-64],"id":"992a91ba-b20b-4eb2-bb1e-bb645774bae9","name":"When Executed by Another Workflow"},{"parameters":{"amount":13},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-720,64],"id":"c7461c4e-0f91-4775-aa61-169457691e48","name":"Wait5","webhookId":"30984a7b-9b9f-4c98-a65a-450cf5cb02a6"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc","mode":"list","cachedResultName":"Leadlist2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1895729392,"mode":"list","cachedResultName":"result_53__results","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc/edit#gid=1895729392"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $json.email }}","Sent2":"Sent"},"matchingColumns":["email"],"schema":[{"id":"Sent2","displayName":"Sent2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"domain_name","displayName":"domain_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valid_email_only","displayName":"valid_email_only","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_type","displayName":"email_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"amf_status","displayName":"amf_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"profileUrl","displayName":"profileUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyId","displayName":"companyId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyUrl","displayName":"companyUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"regularCompanyUrl","displayName":"regularCompanyUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"titleDescription","displayName":"titleDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLocation","displayName":"companyLocation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"durationInRole","displayName":"durationInRole","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"durationInCompany","displayName":"durationInCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceCompanyName","displayName":"pastExperienceCompanyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceCompanyUrl","displayName":"pastExperienceCompanyUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceCompanyTitle","displayName":"pastExperienceCompanyTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceDate","displayName":"pastExperienceDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceDuration","displayName":"pastExperienceDuration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"connectionDegree","displayName":"connectionDegree","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"profileImageUrl","displayName":"profileImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sharedConnectionsCount","displayName":"sharedConnectionsCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"vmid","displayName":"vmid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedInProfileUrl","displayName":"linkedInProfileUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"isPremium","displayName":"isPremium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"isOpenLink","displayName":"isOpenLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"defaultProfileUrl","displayName":"defaultProfileUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[128,48],"id":"07eaac2f-3a68-4b35-8c6e-3a587710d723","name":"Update row in sheet16","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1qwAvvhFKd0Ufzgy","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d86db6d7-a22a-4f6d-a83a-a136c5910bdd","name":"=email","value":"={{ $json.envelope.to[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,-48],"id":"824a0be7-3804-4eca-9d5c-84b1c9dc4898","name":"Edit Fields2"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Wait5","type":"main","index":0}]]},"Code16":{"main":[[{"node":"Send Poojan3","type":"main","index":0}]]},"Send Poojan3":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait5":{"main":[[{"node":"Code16","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Update row in sheet16","type":"main","index":0}]]},"Update row in sheet16":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"7767dfee-304a-438e-b869-12780ddd6e83","triggerCount":0,"tags":[]}