send-emails-GAu6mfbzhuBZuigO.json
{"createdAt":"2025-08-22T14:56:06.107Z","updatedAt":"2025-08-25T16:13:52.000Z","id":"GAu6mfbzhuBZuigO","name":"send emails","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"this workflow has to send predecided mails to al the emails in here, reply doesnt matter, all that matters is the email trigger of imap to count the email as not spam.\nNo need to reply, just using the email trigger will allow to ","height":80,"width":736},"type":"n8n-nodes-base.stickyNote","position":[-128,-144],"typeVersion":1,"id":"6ede96e4-8e5a-4a54-85da-d13364cfb1ba","name":"Sticky Note"},{"parameters":{"jsCode":"// Mailboxes & Send Email node names\nconst mailboxes = [\n  { id: 0, email: \"poojan@thrusthq.site\", nodeName: \"poojan@thrusthq.site\" },\n  { id: 1, email: \"samantha@thrusthq.site\", nodeName: \"samantha@thrusthq.site\" },\n  { id: 2, email: \"john@thrusthq.site\", nodeName: \"john@thrusthq.site\" },\n  { id: 3, email: \"emma@thrusthq.site\", nodeName: \"emma@thrusthq.site\" },\n  { id: 4, email: \"max@thrusthq.site\", nodeName: \"max@thrusthq.site\" }\n];\n\n// Templates per sender (full text from your list + new for Max)\nconst templates = {\n  0: [ // Poojan\n    { subject: \"Your leads are calling your competitor first\", body: `Hi [Name],\\n\\nHow long does it take you to call back new leads?\\n\\nIf it's more than 5 minutes, 80% of them have already moved on to the next agent.\\n\\nI built an AI system that calls leads in under 90 seconds. Every time. Even at 2 AM.\\n\\nThink about your last few leads that \"went cold.\" They probably just found someone faster.\\n\\nWant to see how it works? Book a quick call: https://calendly.com/poojand007/20min-meet\\n\\nPoojan Pandya\\nProtozenAI` },\n    { subject: \"Missing deals because it's Saturday?\", body: `[Name],\\n\\nWhat happens when a lead comes in on Saturday night? Sunday morning? 11 PM on a Tuesday?\\n\\nYou're either asleep, with family, or showing another property.\\n\\nMeanwhile, your lead is googling \"realtors near me\" and calling the first three that answer.\\n\\nMy AI never sleeps. Never takes a day off. Calls every lead within 2 minutes, 24/7.\\n\\nReady to stop losing weekend leads? https://calendly.com/poojand007/20min-meet\\n\\nPoojan Pandya\\nProtozenAI` },\n    { subject: \"Tired of playing phone tag with leads?\", body: `Hi [Name],\\n\\nLead fills out form → You call back → Voicemail → They call back → You miss it → Repeat forever.\\n\\nBy the time you connect, they've already talked to 3 other agents.\\n\\nWhat if your AI could handle the first conversation, qualify the lead, and book them directly on your calendar?\\n\\nNo more phone tag. No more missed connections. Just qualified appointments waiting for you.\\n\\nLet me show you: https://calendly.com/poojand007/20min-meet\\n\\nPoojan Pandya\\nProtozenAI` },\n    { subject: \"Can't be in two places at once\", body: `[Name],\\n\\nYou're showing a house. A new lead comes in.\\n\\nDo you:\\nA) Ignore the lead and focus on your current client\\nB) Step away and lose momentum with your buyer\\n\\nNeither option is great.\\n\\nMy AI handles option C: Instantly call the new lead while you stay focused on closing the deal in front of you.\\n\\nWant to see how this works? https://calendly.com/poojand007/20min-meet\\n\\nPoojan Pandya\\nProtozenAI` }\n  ],\n  1: [ // Samantha\n    { subject: \"Spending 15 hours a week on follow-up calls?\", body: `[Name],\\n\\nQuick question: How much time do you spend each week calling leads back?\\n\\nMost agents tell me 10-15 hours. All that dialing, leaving voicemails, playing phone tag.\\n\\nWhat if that happened automatically while you focused on actual selling?\\n\\nMy AI handles all the initial follow-up calls. Qualifies leads. Books appointments. Updates your calendar.\\n\\nReady to get your time back? https://calendly.com/poojand007/20min-meet\\n\\nSamantha Moore\\nProtozenAI` },\n    { subject: \"Exhausted from chasing leads all day?\", body: `Hi [Name],\\n\\nCalling 50+ leads per day is soul-crushing work.\\n\\nHalf don't answer. Quarter are tire-kickers. The rest need 5 follow-up calls before they'll even talk.\\n\\nMeanwhile, you have listings to market, contracts to review, and actual clients to serve.\\n\\nWhat if AI handled all the grunt work and only sent you qualified, ready-to-meet prospects?\\n\\nSee how much energy you could save: https://calendly.com/poojand007/20min-meet\\n\\nSamantha Moore\\nProtozenAI` },\n    { subject: \"Can only call 30 leads per day? AI calls 300.\", body: `[Name],\\n\\nHuman math: 30 calls per day max. Maybe 50 if you skip lunch.\\n\\nAI math: 300 calls per day, every day, while you sleep.\\n\\nThe agents winning in your market aren't necessarily better than you. They just have better systems.\\n\\nWant to level the playing field? https://calendly.com/poojand007/20min-meet\\n\\nSamantha Moore\\nProtozenAI` },\n    { subject: \"Good day = 20 calls. Bad day = 2 calls.\", body: `Hi [Name],\\n\\nWe both know how this goes.\\n\\nMonday you're motivated. Make 25 calls. Feel great.\\n\\nWednesday you're swamped. Make 5 calls. Feel guilty.\\n\\nFriday you're burned out. Make 2 calls. Promise to catch up Monday.\\n\\nMy AI makes 50 calls every single day. No motivation required. No excuses.\\n\\nReady for consistent results? https://calendly.com/poojand007/20min-meet\\n\\nSamantha Moore\\nProtozenAI` }\n  ],\n  2: [ // John\n    { subject: \"Why are only 2% of your leads converting?\", body: `Hi [Name],\\n\\nIndustry average lead conversion is 2-3%.\\n\\nBut agents who call leads within the first few minutes see 15-20%.\\n\\nThe difference? Speed.\\n\\nWhile you're finishing up with one client, 10 new leads are slipping away to whoever calls first.\\n\\nI can show you how to call every lead instantly, even when you're busy.\\n\\nBook a quick demo: https://calendly.com/poojand007/20min-meet\\n\\nJohn Brown\\nProtozenAI` },\n    { subject: \"\\\"Sorry I'm just getting back to you...\\\"\", body: `[Name],\\n\\nEver started a call with \"Sorry I'm just getting back to you, it's been crazy busy...\"?\\n\\nThat's not the first impression you want to make.\\n\\nCompare that to: \"Hi John, I got your inquiry about the Oak Street listing. I have some great options to show you. When works better - tomorrow at 2 PM or Thursday at 10 AM?\"\\n\\nWhich agent sounds more professional?\\n\\nSee how to always make the perfect first impression: https://calendly.com/poojand007/20min-meet\\n\\nJohn Brown\\nProtozenAI` },\n    { subject: \"Your hottest leads are going cold\", body: `Hi [Name],\\n\\nSomeone fills out a form at 3 AM asking about a specific listing.\\n\\nThey're clearly motivated. Ready to buy. Hot lead.\\n\\nYou call them back at 9 AM. Voicemail. They never call back.\\n\\nWhat happened? They bought a house at 7 AM from an agent who called at 3:05 AM.\\n\\nDon't let hot leads go cold: https://calendly.com/poojand007/20min-meet\\n\\nJohn Brown\\nProtozenAI` },\n    { subject: \"Your competitor responds in 30 seconds\", body: `[Name],\\n\\nThere's an agent in your market who responds to leads in under 30 seconds.\\n\\nEvery. Single. Time.\\n\\nWhile you're driving to appointments, eating lunch, or sleeping, they're booking your leads.\\n\\nWant to know their secret? It's not superhuman speed.\\n\\nIt's smart automation: https://calendly.com/poojand007/20min-meet\\n\\nJohn Brown\\nProtozenAI` }\n  ],\n  3: [ // Emma\n    { subject: \"You're losing $50K/year to slow follow-up\", body: `[Name],\\n\\nYou spend money on leads, right?\\n\\nZillow, Facebook ads, your website... probably $500-2000/month.\\n\\nBut if you're not calling them back within 5 minutes, you're wasting 70% of that money.\\n\\nDo the math:\\n- 100 leads/month at $20 each = $2,000\\n- You lose 70 to slow follow-up = $1,400 wasted\\n- That's $16,800 per year down the drain\\n\\nReady to stop the bleeding? https://calendly.com/poojand007/20min-meet\\n\\nEmma Smith\\nProtozenAI` },\n    { subject: \"What's your time worth per hour?\", body: `Hi [Name],\\n\\nIf you make $150K/year working 50 hours/week, your time is worth $58/hour.\\n\\nSpending 15 hours/week on follow-up calls costs you $870 in opportunity cost.\\n\\nThat's $45,240 per year you could spend on actual revenue-generating activities.\\n\\nWhat if AI handled all the follow-up for $500/month?\\n\\nYou'd save $39,240 per year. Plus make more sales.\\n\\nSee the math: https://calendly.com/poojand007/20min-meet\\n\\nEmma Smith\\nProtozenAI` },\n    { subject: \"Checking your phone at 11 PM for new leads?\", body: `[Name],\\n\\nThat notification sound haunts you, doesn't it?\\n\\nNew lead comes in. Your heart races. Do you call now? Wait until morning? What if they find someone else?\\n\\nYou check your phone during dinner. During movies. At your kid's soccer game.\\n\\nThe leads never stop coming. The anxiety never stops either.\\n\\nWhat if every lead was handled instantly, automatically, while you actually enjoyed your evenings?\\n\\nGet your peace of mind back: https://calendly.com/poojand007/20min-meet\\n\\nEmma Smith\\nProtozenAI` },\n    { subject: \"Stuck at the same income for 3 years?\", body: `Hi [Name],\\n\\nThere's only so many hours in a day. Only so many calls you can make. Only so much you can hustle.\\n\\nThat's why your income plateaued.\\n\\nYou've hit the ceiling of what one person can do manually.\\n\\nThe agents breaking through aren't working harder. They're working with AI.\\n\\nReady to break through your ceiling? https://calendly.com/poojand007/20min-meet\\n\\nEmma Smith\\nProtozenAI` }\n  ],\n  4: [ // Max (new unique set)\n    { subject: \"AI that works while you sleep\", body: `Hi [Name],\\n\\nWhat happens when a lead comes in at 1 AM?\\n\\nMost agents don’t even see it until morning. By then, the lead is gone.\\n\\nMy AI answers instantly, qualifies them, and books them on your calendar – even while you’re asleep.\\n\\nWould you like to see it in action? https://calendly.com/poojand007/20min-meet\\n\\nMax Turner\\nProtozenAI` },\n    { subject: \"Stop losing money to voicemail\", body: `[Name],\\n\\nYou know the routine:\\n- Lead comes in\\n- You call back\\n- Voicemail\\n\\nBy the time they pick up, they’ve already spoken to another agent.\\n\\nMy AI connects instantly and skips the voicemail loop.\\n\\nCurious to see how it beats phone tag? https://calendly.com/poojand007/20min-meet\\n\\nMax Turner\\nProtozenAI` },\n    { subject: \"Turn cold leads into warm appointments\", body: `Hi [Name],\\n\\nCold leads are just leads you didn’t reach fast enough.\\n\\nWith my AI, every inquiry gets a call back in under 2 minutes. That “cold” lead is now warm and booked.\\n\\nWant me to show you how it works? https://calendly.com/poojand007/20min-meet\\n\\nMax Turner\\nProtozenAI` },\n    { subject: \"Your unfair advantage in real estate\", body: `[Name],\\n\\nThe best agents in your market aren’t always the most experienced.\\n\\nThey’re just the ones using the fastest systems.\\n\\nAI follow-up gives you an unfair advantage: every lead called, every time, no excuses.\\n\\nReady to level up? https://calendly.com/poojand007/20min-meet\\n\\nMax Turner\\nProtozenAI` }\n  ]\n};\n\nlet output = [];\n\nmailboxes.forEach((sender) => {\n  const possibleRecipients = mailboxes.filter(mb => mb.id !== sender.id);\n  const recipient = possibleRecipients[Math.floor(Math.random() * possibleRecipients.length)];\n  const template = templates[sender.id][Math.floor(Math.random() * templates[sender.id].length)];\n\n  output.push({\n    json: {\n      nodeName: sender.nodeName,\n      to: recipient.email,\n      subject: template.subject,\n      body: template.body\n    }\n  });\n});\n\nreturn output;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,736],"id":"baefeeb2-c1dd-4b19-8992-3bc0d4b72d8b","name":"Code"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"a61117b2-e76d-496f-992a-82c0b37f163e","leftValue":"={{ $json.nodeName }}","rightValue":"=poojan@thrusthq.site","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"46fef9bd-89e7-4e03-a14e-2522444e34e6","leftValue":"={{ $json.nodeName }}","rightValue":"=samantha@thrusthq.site","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5c2effbb-b57a-4dad-9497-7c83bb5f54da","leftValue":"={{ $json.nodeName }}","rightValue":"john@thrusthq.site","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d9af2971-0195-421f-bce7-6e4b5ca27586","leftValue":"={{ $json.nodeName }}","rightValue":"emma@thrusthq.site","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ced7351d-2352-4949-a950-537bd5434bed","leftValue":"={{ $json.nodeName }}","rightValue":"max@thrusthq.site","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"}}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[176,688],"id":"7f1c3659-08f4-4d63-98c7-c4e090e2ba94","name":"Switch"},{"parameters":{"fromEmail":"samantha@thrusthq.site","toEmail":"={{ $json.to }}","subject":"={{ $json.subject }}","html":"={{ $json.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[672,512],"id":"e393c9db-93af-4bea-bca6-c04bc7ef7ff2","name":"samantha@thrusthq.site","webhookId":"18619036-31fa-4884-9a5d-7f9808f704ab","credentials":{"smtp":{"id":"puRGpjC9CfMTlLQf","name":"samantha@thrusthq.site"}}},{"parameters":{"fromEmail":"poojan@thrusthq.site","toEmail":"={{ $json.to }}","subject":"={{ $json.subject }}","html":"={{ $json.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[672,352],"id":"c7590303-36a2-4528-86c8-ef3cfd1082c2","name":"poojan@thrusthq.site","webhookId":"18619036-31fa-4884-9a5d-7f9808f704ab","credentials":{"smtp":{"id":"saCr68ZpVsfzE7HC","name":"poojan@thrusthq.site"}}},{"parameters":{"fromEmail":"john@thrusthq.site","toEmail":"={{ $json.to }}","subject":"={{ $json.subject }}","html":"={{ $json.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[672,688],"id":"703629e1-23be-4353-a9e4-a290c95777d2","name":"john@thrusthq.site","webhookId":"18619036-31fa-4884-9a5d-7f9808f704ab","credentials":{"smtp":{"id":"5XvgaKm2lZe3QQir","name":"john@thrusthq.site"}}},{"parameters":{"fromEmail":"emma@thrusthq.site","toEmail":"={{ $json.to }}","subject":"={{ $json.subject }}","html":"={{ $json.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[672,864],"id":"b38b12b0-6d8c-4b9c-905b-1660dab5cd3c","name":"emma@thrusthq.site","webhookId":"18619036-31fa-4884-9a5d-7f9808f704ab","credentials":{"smtp":{"id":"y3SqZz9pU18qQZIP","name":"emma@thrusthq.site"}}},{"parameters":{"fromEmail":"max@thrusthq.site","toEmail":"={{ $json.to }}","subject":"={{ $json.subject }}","html":"={{ $json.body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[672,1040],"id":"5f547e58-f9d9-44ea-ba87-ef6ba789fd9d","name":"max@thrusthq.site","webhookId":"18619036-31fa-4884-9a5d-7f9808f704ab","alwaysOutputData":true,"credentials":{"smtp":{"id":"CjfrxS4lUrq6s3Hs","name":"max@thrusthq.site"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-544,752],"id":"fee70259-0933-4b75-9589-60f2b5021b9b","name":"Schedule Trigger"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-320,752],"id":"51ff9502-7250-43c2-a350-e956a4e26a5a","name":"Wait","webhookId":"f1c832d6-b343-49fa-8aec-ecd3a8d8d92a"}],"connections":{"Code":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"poojan@thrusthq.site","type":"main","index":0}],[{"node":"samantha@thrusthq.site","type":"main","index":0}],[{"node":"john@thrusthq.site","type":"main","index":0}],[{"node":"emma@thrusthq.site","type":"main","index":0}],[{"node":"max@thrusthq.site","type":"main","index":0}]]},"max@thrusthq.site":{"main":[[]]},"Schedule Trigger":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2372250f-d6db-4649-8974-32b01225814d","triggerCount":1,"tags":[]}