send-emma@protozenai.com-sLYpuEgOTwXgZ2MA.json
{"createdAt":"2025-08-13T20:23:49.226Z","updatedAt":"2025-08-25T17:22:37.000Z","id":"sLYpuEgOTwXgZ2MA","name":"Send emma@protozenai.com","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const templates = [\n  \n  {\n    subject: \"92% of salespeople quit within 2 years. Your best just left. 🚪\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nSales Management Association: 92% of salespeople quit within 2 years due to rejection and burnout.<br><br>\nYour best performer just handed in their notice. $180,000 in training and pipeline - gone.<br><br>\nReplacement takes 6 months to find, 3 months to train. You lose $340,000 in revenue during transition.<br><br>\nAI outbound callers never quit. Never burn out. Never get demoralized by rejection.<br><br>\nStop bleeding talent and revenue: https://calendly.com/protozenai/20min-meet<br><br>\nEmma Smith<br>ProtozenAI`\n  },\n  {\n    subject: \"Real estate agents: 87% fail within 5 years. Here's why. 💔\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nNational Association of Realtors: 87% of real estate agents fail and quit within 5 years.<br><br>\nCause of death? Not enough leads. Cold calling rejection kills confidence, motivation, and bank accounts.<br><br>\nAverage agent makes 50 cold calls daily, connects with 3 people, generates 0.2 qualified leads.<br><br>\nAI cold callers make 2,000 calls daily, connect with 340 people, generate 47 qualified leads.<br><br>\nDon't become the 87%. Multiply or die: https://calendly.com/protozenai/20min-meet<br><br>\nEmma Smith<br>ProtozenAI`\n  },\n  {\n    subject: \"Your sales team costs $400K annually. They're failing. 📉\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nSales Force Research: 79% of sales teams miss their annual quotas despite massive investment.<br><br>\nYou pay $400,000+ annually for mediocre results. Missed quotas. Broken promises. Wasted money.<br><br>\nMeanwhile, AI-powered competitors hit 150% of quota with 70% lower costs.<br><br>\nEvery month you stick with human-only sales, you fall further behind and bleed more cash.<br><br>\nStop funding failure. Fund success: https://calendly.com/protozenai/20min-meet<br><br>\nEmma Smith<br>ProtozenAI`\n  },\n  {\n    subject: \"Your industry is being eaten alive. You're next. 🦈\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nDeloitte study: 63% of traditional businesses lose market share to AI-powered competitors within 36 months.<br><br>\nYour industry's biggest players already deployed AI outbound systems. They're capturing market share daily.<br><br>\nSmall businesses die first. 47% of companies under $10M revenue become irrelevant within 2 years of AI disruption.<br><br>\nAdapt now or watch your business become a cautionary tale for others.<br><br>\nDon't become extinct: https://calendly.com/protozenai/20min-meet<br><br>\nEmma Smith<br>ProtozenAI`\n  }\n];\nconst items = $input.all();\nreturn items.map(item => {\n  const randomIndex = Math.floor(Math.random() * templates.length);\n  return {\n    json: {\n      ...item.json,\n      valid_email_only: item.json.valid_email_only,\n      email_subject: templates[randomIndex].subject,\n      email_body: templates[randomIndex].body,\n      template_number: randomIndex + 1\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-608,128],"id":"02e24c84-2106-4fdb-a8fb-793678b9ab5e","name":"Code19"},{"parameters":{"fromEmail":"emma@thrusthq.site","toEmail":"={{ $json.valid_email_only }}","subject":"={{ $json.email_subject }}","html":"={{ $json.email_body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[-384,128],"id":"29cd493f-a3c7-4cb8-85de-357d5d0d2571","name":"Send Emma3","webhookId":"9e15c26a-bf64-4b51-9159-19361438f322","credentials":{"smtp":{"id":"s9nIoWLXt4EzYP6z","name":"Send emma@protozenai.com"}}},{"parameters":{"content":"4","height":176,"width":896,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-944,176],"typeVersion":1,"id":"d6989bf5-61cf-42a8-9fdc-4f17a134af1f","name":"Sticky Note11"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1104,160],"id":"0f92d374-e1a7-4416-9f9b-710cd204d983","name":"Loop Over Items12"},{"parameters":{"amount":13},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-864,144],"id":"c7d5b191-c427-47e3-a9e3-ac59064c4af0","name":"Wait12","webhookId":"ec02206e-ba89-4c30-8cef-9368bacba68a"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1328,112],"id":"564e17b2-d09a-4732-8326-77ac92f3e39c","name":"When Executed by Another Workflow"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc","mode":"list","cachedResultName":"Leadlist2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1895729392,"mode":"list","cachedResultName":"result_53__results","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc/edit#gid=1895729392"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $json.email }}","Sent2":"Sent"},"matchingColumns":["email"],"schema":[{"id":"Sent2","displayName":"Sent2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"domain_name","displayName":"domain_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valid_email_only","displayName":"valid_email_only","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_type","displayName":"email_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"amf_status","displayName":"amf_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"profileUrl","displayName":"profileUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyId","displayName":"companyId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyUrl","displayName":"companyUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"regularCompanyUrl","displayName":"regularCompanyUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"titleDescription","displayName":"titleDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLocation","displayName":"companyLocation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"durationInRole","displayName":"durationInRole","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"durationInCompany","displayName":"durationInCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceCompanyName","displayName":"pastExperienceCompanyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceCompanyUrl","displayName":"pastExperienceCompanyUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceCompanyTitle","displayName":"pastExperienceCompanyTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceDate","displayName":"pastExperienceDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceDuration","displayName":"pastExperienceDuration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"connectionDegree","displayName":"connectionDegree","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"profileImageUrl","displayName":"profileImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sharedConnectionsCount","displayName":"sharedConnectionsCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"vmid","displayName":"vmid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedInProfileUrl","displayName":"linkedInProfileUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"isPremium","displayName":"isPremium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"isOpenLink","displayName":"isOpenLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"defaultProfileUrl","displayName":"defaultProfileUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[0,192],"id":"afb6923d-d157-4879-80fc-4b1a3a85bcb9","name":"Update row in sheet15","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1qwAvvhFKd0Ufzgy","name":"Google Sheets account"}}},{"parameters":{"content":"## I'm a note \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/){{ $json.envelope.to[0] }}"},"type":"n8n-nodes-base.stickyNote","position":[0,-80],"typeVersion":1,"id":"e84ab2e4-4d72-455c-b7e6-1d9081250dbb","name":"Sticky Note"},{"parameters":{"assignments":{"assignments":[{"id":"d86db6d7-a22a-4f6d-a83a-a136c5910bdd","name":"=email","value":"={{ $json.envelope.to[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-208,64],"id":"d4cfdc98-2f41-4540-9a49-1ff543d7c11f","name":"Edit Fields"}],"connections":{"Code19":{"main":[[{"node":"Send Emma3","type":"main","index":0}]]},"Send Emma3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items12":{"main":[[],[{"node":"Wait12","type":"main","index":0}]]},"Wait12":{"main":[[{"node":"Code19","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Loop Over Items12","type":"main","index":0}]]},"Update row in sheet15":{"main":[[{"node":"Loop Over Items12","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Update row in sheet15","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"87b3c21c-c08e-4740-bf6a-45d318c36231","triggerCount":0,"tags":[]}