send-john@protozenai.com-ycemJh6sNrrle1x4.json
{"createdAt":"2025-08-13T20:21:33.474Z","updatedAt":"2025-08-25T17:22:28.000Z","id":"ycemJh6sNrrle1x4","name":"Send john@protozenai.com","active":false,"isArchived":false,"nodes":[{"parameters":{"jsCode":"const templates = [\n  \n  {\n    subject: \"Your CRM is a $2.4M graveyard of dead dreams 💀\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nForbes: 79% of businesses have CRMs full of abandoned leads worth millions in lost potential.<br><br>\nYour CRM contains 6,847 dead leads. Each represents a failed opportunity, a lost dream, a business that could have been saved.<br><br>\n$2.4M in potential revenue rotting in your database while you struggle to pay bills.<br><br>\nSuccessful businesses use AI to resurrect dead leads. Failures let them stay buried.<br><br>\nStop being a failure. Resurrect your goldmine: https://calendly.com/protozenai/20min-meet<br><br>\nJohn Brown<br>ProtozenAI`\n  },\n  {\n    subject: \"61% of businesses die from poor data management. You're dying. 📊\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nIBM Research: 61% of business failures traced back to poor data management and missed opportunities.<br><br>\nYour CRM is chaos. Duplicate entries. Missing information. Zero follow-up systems.<br><br>\nYou're drowning in your own disorganization while organized competitors steal your market.<br><br>\nEvery day of CRM chaos pushes you closer to becoming another failed business statistic.<br><br>\nOrganize or die: https://calendly.com/protozenai/20min-meet<br><br>\nJohn Brown<br>ProtozenAI`\n  },\n  {\n    subject: \"47% of your leads will never hear from you again 📭\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nHarvard Business Review: 47% of leads never receive follow-up. These businesses fail at 3x higher rates.<br><br>\nYou're actively choosing failure. Every uncontacted lead is a nail in your business coffin.<br><br>\nSuccessful competitors follow up religiously. They eat your market share for breakfast.<br><br>\nPoor follow-up killed more businesses than recessions, pandemics, and market crashes combined.<br><br>\nStop choosing failure: https://calendly.com/protozenai/20min-meet<br><br>\nJohn Brown<br>ProtozenAI`\n  },\n  {\n    subject: \"Your CRM investment is worthless. $156,000 down the drain. 🚫\",\n    body: `Hi ${$input.first().json.firstName},<br><br>\nSalesforce study: 73% of CRM users utilize less than 30% of available features.<br><br>\nYou spent $156,000 on CRM systems over 3 years. Using 27% of capability. Wasting $114,000.<br><br>\nThat wasted money could have saved your struggling business. Instead, you're failing efficiently.<br><br>\nAI-powered businesses extract 340% more value from their CRM investment.<br><br>\nStop wasting money you don't have: https://calendly.com/protozenai/20min-meet<br><br>\nJohn Brown<br>ProtozenAI`\n  }\n];\nconst items = $input.all();\nreturn items.map(item => {\n  const randomIndex = Math.floor(Math.random() * templates.length);\n  return {\n    json: {\n      ...item.json,\n      valid_email_only: item.json.valid_email_only,\n      email_subject: templates[randomIndex].subject,\n      email_body: templates[randomIndex].body,\n      template_number: randomIndex + 1\n    }\n  };\n});"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,-96],"id":"f3e57e71-387e-403d-ab69-028991e116eb","name":"Code18"},{"parameters":{"fromEmail":"john@thrusthq.site","toEmail":"={{ $json.email }}","subject":"={{ $json.email_subject }}","html":"={{ $json.email_body }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.emailSend","typeVersion":2.1,"position":[112,-176],"id":"fefb1ea7-8049-4e11-9e18-394a296f3703","name":"Send John3","webhookId":"9e15c26a-bf64-4b51-9159-19361438f322","credentials":{"smtp":{"id":"5XvgaKm2lZe3QQir","name":"john@thrusthq.site"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-512,16],"id":"47b729c9-aa9d-489b-8607-42a642b2de5a","name":"Loop Over Items11"},{"parameters":{"amount":13},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-288,-128],"id":"9a8d71de-eed8-4cf2-b49b-2f7917869b28","name":"Wait11","webhookId":"0458ec57-2676-4b28-86bc-7e5cffd86117"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-832,80],"id":"f6399e09-7e3a-4d5d-95cf-786780520814","name":"When Executed by Another Workflow"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc","mode":"list","cachedResultName":"Leadlist2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1895729392,"mode":"list","cachedResultName":"result_53__results","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1TtIr7gd8H0KhONN2NCsdx298Xr7yI_q4xlsdg4Xh0yc/edit#gid=1895729392"},"columns":{"mappingMode":"defineBelow","value":{"email":"={{ $json.email }}","Sent2":"Sent"},"matchingColumns":["email"],"schema":[{"id":"Sent2","displayName":"Sent2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"domain_name","displayName":"domain_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"valid_email_only","displayName":"valid_email_only","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_type","displayName":"email_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"amf_status","displayName":"amf_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"profileUrl","displayName":"profileUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"fullName","displayName":"fullName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"firstName","displayName":"firstName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"lastName","displayName":"lastName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyName","displayName":"companyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyId","displayName":"companyId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyUrl","displayName":"companyUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"regularCompanyUrl","displayName":"regularCompanyUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"summary","displayName":"summary","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"titleDescription","displayName":"titleDescription","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"companyLocation","displayName":"companyLocation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"durationInRole","displayName":"durationInRole","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"durationInCompany","displayName":"durationInCompany","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceCompanyName","displayName":"pastExperienceCompanyName","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceCompanyUrl","displayName":"pastExperienceCompanyUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceCompanyTitle","displayName":"pastExperienceCompanyTitle","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceDate","displayName":"pastExperienceDate","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"pastExperienceDuration","displayName":"pastExperienceDuration","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"connectionDegree","displayName":"connectionDegree","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"profileImageUrl","displayName":"profileImageUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"sharedConnectionsCount","displayName":"sharedConnectionsCount","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"name","displayName":"name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"vmid","displayName":"vmid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedInProfileUrl","displayName":"linkedInProfileUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"isPremium","displayName":"isPremium","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"isOpenLink","displayName":"isOpenLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"query","displayName":"query","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"timestamp","displayName":"timestamp","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"defaultProfileUrl","displayName":"defaultProfileUrl","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[656,32],"id":"e085e8b1-3ad7-49ca-8af5-b653250777a7","name":"Update row in sheet15","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"1qwAvvhFKd0Ufzgy","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"d86db6d7-a22a-4f6d-a83a-a136c5910bdd","name":"=email","value":"={{ $json.envelope.to[0] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[448,-96],"id":"59868afc-0d30-4c01-9688-3d1a1556bc6a","name":"Edit Fields"}],"connections":{"Code18":{"main":[[{"node":"Send John3","type":"main","index":0}]]},"Send John3":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Loop Over Items11":{"main":[[],[{"node":"Wait11","type":"main","index":0}]]},"Wait11":{"main":[[{"node":"Code18","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Loop Over Items11","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Update row in sheet15","type":"main","index":0}]]},"Update row in sheet15":{"main":[[{"node":"Loop Over Items11","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9b611d04-9809-429c-ba4a-538558c1d7f4","triggerCount":0,"tags":[]}