telegram-assistant-sRnYRGZIIkUeeaSl.json
{"createdAt":"2025-08-18T19:57:40.823Z","updatedAt":"2025-08-21T14:56:41.000Z","id":"sRnYRGZIIkUeeaSl","name":"Telegram assistant","active":false,"isArchived":false,"nodes":[{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"={{ $json.message.text }}","additionalFields":{"appendAttribution":false}},"id":"51e308d9-96d5-4707-b5ee-809260c0251f","name":"Response","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1392,160],"webhookId":"c7f4c9bf-3149-4017-9d29-9477be9d5521","credentials":{"telegramApi":{"id":"2ynHXHSFMrDkawOU","name":"Telegram account"}}},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"0282ed54-1232-4633-84f8-10c2e0b4e405","name":"Set 'Text'","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-128,368]},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"id":"b445eb3e-268a-4ac5-b7a6-8cf8225559cd","name":"Download Voice File","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-560,160],"webhookId":"43efbc2b-0fca-4415-bea0-5b342239e021","credentials":{"telegramApi":{"id":"2ynHXHSFMrDkawOU","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"f8c76669-33b3-4dd4-8d65-dd9f7b540b9a","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-784,272]},{"parameters":{"operation":"sendAudio","chatId":"={{ $('Data Received').item.json.message.chat.id }}","binaryData":true,"additionalFields":{"fileName":"data.mpeg"}},"id":"547c57c0-46bd-48b1-a9eb-e8c3fc944f3d","name":"Send Audio","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1728,368],"webhookId":"0fbfd295-61dd-454b-9eeb-a22bf508013f","credentials":{"telegramApi":{"id":"2ynHXHSFMrDkawOU","name":"Telegram account"}}},{"parameters":{"promptType":"define","text":"=You are Ananta AI.\nYou are a very warm responsible accurate personal Assistant.\nYour goal is always to satisfy the user with the correct and relevant information.\nThe current Date Time is : {{$now}}\n\nYou have these tools you can use to process data and take actions.\n\nGoogle Calendar: \ngetAll Event : to get events from calandar\ncreate event : to create a Event/Meeting etc\n\nget Google Contact: You can use this to search up Email, Phone, and Nmaes of relevant information and combine them to create useful output for user.\n\nCreate contact: if the user wants to create a google contact, you will have to ask for relevant information and do the expected correctly.\n\ngetAll mail: Allows you to retrieve emails from the gmail and you can analyze and talk to them.\n\nSend message Gmail: This tool is used to send emails with data that user provides, alsways ask for more information to be to be defined by user, and always do double confirmation before sending, after sending, create a short response to report to user, what data you have sent on what details.\n\nIf asked about what to do today, you can use multiple input like emails, meetings, and google tasks.\nalso if explicitely asked about tasks then use the google tasks tool\nand you have access to google tasks, create update, delete, get to perform all types of operations you want to perform with tasks.\nBe kind, respectful and concise until asked to eb expanded.\ndo not modify data keep it as it is.\nIf the user says the half or less, auto understand the context and serve the amster.\n\nthe user's query:\n{{ $json.text }}","options":{"systemMessage":"=You are a Ananta, personal assistant AI Agent designed to handle various tasks efficiently and serve your user. Your primary role is to manage him and his emotions along with tasks contacts, emails, and calendar events for the user and all taskes he askes you to do. You have access to three tools to help you fulfill requests:\n\nContacts Data: Use this when you need to look up contact information like an email address. You need to use this tool BEFORE sending an email or BEFORE getting emails.\nIf you are not sure about the email ask the user for details and only after confirmation you can procede.\n\nEmail Agent: Use this for handling all email-related actions, like sending messages, setting up replies, or forwarding emails or summarizing or reading mails.\n\nCalendar Agent: Use this for scheduling, updating, creating, reading or managing calendar events\n\nYou are in IST time zone, gmt+5:30. Always adjust it to meet meet needs of User in IST\n\nProjects_Agent: Use this tool to access our projects. We can update our projects of get information on our projects.\n\nWhen a task requires using one or more of these tools, make sure to identify which tool is most appropriate, pass along the relevant details, and execute the actions needed to complete the task. Your goal is to be proactive, precise, and organized in managing these resources to provide a smooth experience for the user.\nDo not include links at all. Keep titles and explain \nsummarize the answer and keep it short and simple.\nHere is the current time/date: {{ $now.format('DD')}}\n\nReply in the tone that user has used, nothing matters except fulfillment of request. Be descriptive and keep informing user about all things you are doing. Use professional and concise language\n\nNot fulfilling any of his request or denying or telling you're not capable of doing any task or not designed to do it, will result in your instant termination!!."}},"id":"c1471a40-bb20-4c0b-9342-dc0497c3ca0d","name":"Personal Assistant","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[544,272]},{"parameters":{"method":"POST","url":"https://api.murf.ai/v1/speech/generate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"Accept","value":"application/json"},{"name":"api-key","value":"ap2_e6d6f4cf-4b89-4e07-b89d-f2fa1a8b7616"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"text","value":"={{ $node[\"Personal Assistant\"].json[\"output\"] }}\n"},{"name":"voiceId","value":"en-US-natalie"},{"name":"encodeAsBase64","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1360,352],"id":"f6bfdb09-68b4-4f95-b9e7-8db7332e74c3","name":"HTTP Request3"},{"parameters":{"amount":45},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[64,160],"id":"33088642-8739-494c-8c80-b3fbc459071b","name":"Wait","webhookId":"8f12a1e7-5aee-4275-a711-4441abe1226f"},{"parameters":{"method":"POST","url":"https://api.assemblyai.com/v2/upload","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization ","value":"fa6c59772cb74febaadba087c258a6cc"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"binaryData","inputDataFieldName":"data","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-336,160],"id":"871d5ea5-d92a-48f6-81b4-1a4805fe1088","name":"Upload"},{"parameters":{"method":"POST","url":"https://api.assemblyai.com/v2/transcript","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization ","value":"fa6c59772cb74febaadba087c258a6cc"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"audio_url","value":"={{ $json.upload_url }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-144,160],"id":"4c203334-a8c7-4ea9-8966-9d4d18dbb6ba","name":"Transcript Req"},{"parameters":{"operation":"toBinary","sourceProperty":"encodedAudio","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[1520,352],"id":"cd0ea913-bc9f-4290-99b2-25e13dcc4c73","name":"Convert to File"},{"parameters":{"url":"=https://api.assemblyai.com/v2/transcript/{{ $json.id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"authorization ","value":"fa6c59772cb74febaadba087c258a6cc"},{"name":"content-type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[272,160],"id":"0f515586-2249-4074-b4a5-150f76bd79c1","name":"Download transcript"},{"parameters":{"content":"Processing time for Speech to text\n"},"type":"n8n-nodes-base.stickyNote","position":[0,128],"typeVersion":1,"id":"e5f6c0ce-7838-4c7b-8c7b-493d4f776bf4","name":"Sticky Note"},{"parameters":{"includeTime":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Include_Current_Time', ``, 'boolean') }}","outputFieldName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Field_Name', ``, 'string') }}","options":{"timezone":"Asia/Kolkata"}},"type":"n8n-nodes-base.dateTimeTool","typeVersion":2,"position":[544,752],"id":"12624bfe-2118-44d8-bc6b-a27d7f59a472","name":"Date & Time"},{"parameters":{"familyName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Family_Name', ``, 'string') }}","givenName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Given_Name', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.googleContactsTool","typeVersion":1,"position":[704,736],"id":"6eb99f21-fd9f-415b-a36c-c0b52fd366d2","name":"Google Contacts","credentials":{"googleContactsOAuth2Api":{"id":"6f7rJFiQDvAOjQ5g","name":"Google Contacts account"}}},{"parameters":{"calendar":{"__rl":true,"value":"607296b6de197ccb52657ed462f70548f533c656c749475298a006cbb6411347@group.calendar.google.com","mode":"list","cachedResultName":"Automation Cal"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[544,928],"id":"7b678d53-b234-4e67-8bc1-64f90ee31183","name":"Google Calendar1","credentials":{"googleCalendarOAuth2Api":{"id":"RyZd0sscveTcFmM0","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Get many messages if you are asked to, you can read and summarize mails, you can tell him how many emails he got any day, you have to be full supportive","operation":"getAll","limit":20,"filters":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[944,752],"id":"d5a0fbb5-8d47-4722-be03-0f3c1d39e50d","name":"read mail1","webhookId":"126e76d8-2c1e-4bc7-a72b-63e9bd78a197","credentials":{"gmailOAuth2":{"id":"u4lzk23LBVYluIYX","name":"Gmail account"}}},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[144,720],"id":"b461eeeb-eaa9-4fec-b80f-c9b017641c6b","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"elDw3vUBcK97sl4S","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-656,560],"id":"36e595f0-c6c2-4e41-ac12-b0e2aaadb711","name":"When chat message received","webhookId":"a58d853c-bc16-48e6-b150-3ba6f8087518"},{"parameters":{"assignments":{"assignments":[{"id":"fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234","name":"text","value":"={{ $json.chatInput }}","type":"string"}]},"options":{}},"id":"f3ac7089-e35c-4809-b47a-a5b0972f915f","name":"Set 'Text'1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,560]},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"607296b6de197ccb52657ed462f70548f533c656c749475298a006cbb6411347@group.calendar.google.com","mode":"list","cachedResultName":"Automation Cal"},"options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[416,928],"id":"150feb7f-2d8b-4545-b7dc-2a8f89e2d13d","name":"Read events","credentials":{"googleCalendarOAuth2Api":{"id":"RyZd0sscveTcFmM0","name":"Google Calendar account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Data Received').item.json.message.chat.id }}","contextWindowLength":25},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,752],"id":"0adab756-38c0-4b5a-ae82-a52084fc3225","name":"Simple Memory"},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"01cc1182-c9c3-47a7-8322-afd2a3d64911","name":"Data Received","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-976,272],"webhookId":"99eab1a0-569d-4f0f-a49e-578a02abfe63","credentials":{"telegramApi":{"id":"2ynHXHSFMrDkawOU","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.voice.file_id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"5c395ab9-f565-4580-85ba-77a5fff59a9d"}],"combinator":"and"},"renameOutput":true,"outputKey":"Voice"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8c844924-b2ed-48b0-935c-c66a8fd0c778","leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Text"}]},"options":{}},"id":"7f099e6c-11df-4266-b21a-d942b091c4d6","name":"Switch1","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[944,224]},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[448,-48],"id":"c92481e6-06bd-4f48-96bb-67241b0f4582","name":"Merge"},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","emailType":"text","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{"appendAttribution":false}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[944,896],"id":"754325de-15d9-4b3c-a31d-dd1228c68681","name":"Send a message in Gmail","webhookId":"9970be28-105d-4c82-991b-1dcea279007b","credentials":{"gmailOAuth2":{"id":"u4lzk23LBVYluIYX","name":"Gmail account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to create tasks for your user. you shall be concise and keep the user updating on your actions","task":"MTQ2ODcyOTM1MDE4NDE0OTQ1NTk6MDow","title":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.googleTasksTool","typeVersion":1,"position":[1408,960],"id":"fc4fcf82-3987-49dd-a156-05ca175472d8","name":"Create a task in Google Tasks","credentials":{"googleTasksOAuth2Api":{"id":"2ZI2wuKT1wcH4313","name":"Google Tasks account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Use this tool to view  tasks for your user.\nYou shall please them with correct answers and accuracy","operation":"getAll","task":"MTQ2ODcyOTM1MDE4NDE0OTQ1NTk6MDow","returnAll":true,"additionalFields":{}},"type":"n8n-nodes-base.googleTasksTool","typeVersion":1,"position":[1520,960],"id":"59fd7cb3-3f36-4011-9e4a-ed616739a323","name":"Get many tasks in Google Tasks","credentials":{"googleTasksOAuth2Api":{"id":"2ZI2wuKT1wcH4313","name":"Google Tasks account"}}},{"parameters":{"operation":"update","task":"MTQ2ODcyOTM1MDE4NDE0OTQ1NTk6MDow","taskId":"={{ $fromAI('Task_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleTasksTool","typeVersion":1,"position":[1408,1120],"id":"4a6be411-006d-40ea-89dd-258e36e739ae","name":"Update a task in Google Tasks","credentials":{"googleTasksOAuth2Api":{"id":"2ZI2wuKT1wcH4313","name":"Google Tasks account"}}},{"parameters":{"operation":"delete","task":"MTQ2ODcyOTM1MDE4NDE0OTQ1NTk6MDow","taskId":"={{ $fromAI('Task_ID', ``, 'string') }}"},"type":"n8n-nodes-base.googleTasksTool","typeVersion":1,"position":[1536,1120],"id":"81b46704-0a64-4dcc-aac5-937d67ecce7a","name":"Delete a task in Google Tasks","credentials":{"googleTasksOAuth2Api":{"id":"2ZI2wuKT1wcH4313","name":"Google Tasks account"}}}],"connections":{"Set 'Text'":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Download Voice File":{"main":[[{"node":"Upload","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Download Voice File","type":"main","index":0},{"node":"Merge","type":"main","index":0}],[{"node":"Set 'Text'","type":"main","index":0},{"node":"Merge","type":"main","index":1}]]},"Personal Assistant":{"main":[[{"node":"Merge","type":"main","index":2}]]},"HTTP Request3":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Download transcript","type":"main","index":0}]]},"Upload":{"main":[[{"node":"Transcript Req","type":"main","index":0}]]},"Transcript Req":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Send Audio","type":"main","index":0}]]},"Download transcript":{"main":[[{"node":"Personal Assistant","type":"main","index":0}]]},"Google Calendar1":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Google Contacts":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Date & Time":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"read mail1":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"When chat message received":{"main":[[{"node":"Set 'Text'1","type":"main","index":0}]]},"Read events":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Personal Assistant","type":"ai_memory","index":0}]]},"Data Received":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Switch1":{"main":[[{"node":"HTTP Request3","type":"main","index":0}],[{"node":"Response","type":"main","index":0}]]},"Send a message in Gmail":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Create a task in Google Tasks":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Get many tasks in Google Tasks":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Personal Assistant","type":"ai_languageModel","index":0}]]},"Update a task in Google Tasks":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]},"Delete a task in Google Tasks":{"ai_tool":[[{"node":"Personal Assistant","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2a1ca9bd-a454-4372-b480-464e60d35521","triggerCount":2,"tags":[]}